---
Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -modernize-use-trailing-return-type,
  -readability-braces-around-statements,
  -readability-implicit-bool-conversion

CheckOptions:
  - key:             modernize-use-using.IgnoreMacros
    value:           'true'
  - key:             performance-for-range-copy.WarnOnAllAutoCopies
    value:           'true'
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'

ExtraArgs: ["-std=c++23"]
---