name: Android
on: [workflow_dispatch]

jobs:
  Build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Ninja
        run: sudo apt-get install ninja-build
    
      - name: Build Libs
        run: |
          cmake -S . -B build \
          -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK_ROOT/build/cmake/android.toolchain.cmake \
          -DANDROID_ABI=arm64-v8a \
          -DANDROID_PLATFORM=android-21

      - name: Build Apk
        run: cmake --build build --target apk

      - name: Upload APK - debug
        uses: actions/upload-artifact@v4
        with:
          name: Launcher-Debug-WithSymbols-APK
          path: build/apk/*
          retention-days: 1
          overwrite: true