name: Android
on: [workflow_dispatch]

env:
  NATIVE_LIB_NAME: Launcher
  ANDROID_ABI: arm64-v8a
  ANDROID_PLATFORM: android-21

jobs:
  Build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure CMake
        shell: bash
        run: |
          cmake -S . -B build -DCMAKE_TLS_VERIFY=0 \
          -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK_LATEST_HOME/build/cmake/android.toolchain.cmake \
          -DCMAKE_SYSTEM_NAME=Android \
          -DANDROID_ABI=$ANDROID_ABI \
          -DANDROID_PLATFORM=$ANDROID_PLATFORM \
          -DCMAKE_BUILD_TYPE=Debug

      - name: Build native
        run: cmake --build build --parallel

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Prepare APK Structure
        run: |
          mkdir -p apk_root/lib/$ANDROID_ABI
          cp build/lib${{ env.NATIVE_LIB_NAME }}.so apk_root/lib/$ANDROID_ABI/

      - name: Package and Sign APK
        run: |
          BUILD_TOOLS_ROOT="$ANDROID_HOME/build-tools"
          VERSION=$(ls -1 "$BUILD_TOOLS_ROOT" | sort -V | tail -n 1)

          SDK_TOOLS="$BUILD_TOOLS_ROOT/$VERSION"
          echo "Using Build Tools version: $VERSION"
          
          # Find the latest Android platform JAR
          PLATFORM_JAR=$(ls -1v $ANDROID_HOME/platforms/android-*/android.jar | tail -n 1)
          echo "Using Platform: $PLATFORM_JAR"

          # 1. Link resources and Manifest
          $SDK_TOOLS/aapt2 link -I "$PLATFORM_JAR" \
            --manifest cmake/AndroidManifest.xml \
            -o base.apk

          # 2. Add native libraries
          cd apk_root
          zip -ur ../base.apk lib/
          cd ..

          # 3. Zipalign
          $SDK_TOOLS/zipalign -v 4 base.apk final-aligned.apk

          # 4. Sign the APK
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 -d > release.keystore
          $SDK_TOOLS/apksigner sign --ks release.keystore \
            --ks-pass pass:"${{ secrets.KEYSTORE_PASSWORD }}" \
            --out final-signed.apk final-aligned.apk

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: signed-apk
          path: final-signed.apk