name: Android
on: [workflow_dispatch]

jobs:
  Build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Ninja
        run: sudo apt-get install ninja-build
    
      - name: Configure CMake
        shell: bash
        run: |
          cmake -S . -B build -DCMAKE_TLS_VERIFY=0 \
          -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK_LATEST_HOME/build/cmake/android.toolchain.cmake \
          -DCMAKE_SYSTEM_NAME="Android" \
          -DANDROID_ABI=arm64-v8a \
          -DANDROID_PLATFORM=android-21

      - name: Build
        run: cmake --build build --parallel

      - name: Upload APK - debug
        uses: actions/upload-artifact@v4
        with:
          name: Launcher-Debug-WithSymbols-APK
          path: build/*.apk
          retention-days: 1
          overwrite: true