name: Profile Build

on: [workflow_dispatch]

jobs:
  profile:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install ClangBuildAnalyzer
      run: |
        curl -L https://github.com/aras-p/ClangBuildAnalyzer/releases/download/v1.6.0/ClangBuildAnalyzer.exe -o ClangBuildAnalyzer.exe
        echo "$github_workspace" >> $GITHUB_PATH

    - name: Configure CMake
      run: cmake -S . -B build -G Ninja -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_CXX_FLAGS="-ftime-trace"

    - name: Build Project
      run: cmake --build build

    - name: Organize Traces
      shell: pwsh
      run: |
        New-Item -ItemType Directory -Force -Path compile_traces
        Get-ChildItem -Path build -Filter "*.json" -Recurse | Where-Object { $_.Name -ne "global_build_trace.json" } | Copy-Item -Destination compile_traces/

    - name: Run ClangBuildAnalyzer
      shell: pwsh
      run: |
        ClangBuildAnalyzer.exe --all compile_traces result
        ClangBuildAnalyzer.exe --analyze result | Out-File -FilePath build_result.txt
        Copy-Item build_result.txt -Destination compile_traces/

    - name: Upload Per-File Compilation Traces
      uses: actions/upload-artifact@v4
      with:
        name: clang-compile-details
        path: compile_traces/
        retention-days: 1