name: CI
on: [push, pull_request, workflow_dispatch]

jobs:
  Build:
    name: "${{ matrix.os }} x ${{ matrix.compiler }} x ${{ matrix.build_type }}"
    if: "!contains(github.event.head_commit.message, '[skip CI]') && !contains(github.event.head_commit.message, '[skip desk]')"
    runs-on: ${{ matrix.os }}
    permissions:
      actions: read
      contents: read
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, windows-11-arm, ubuntu-latest,  ubuntu-24.04-arm]
        compiler: [llvm, gcc, msvc]
        build_type: [Debug, Release]
        exclude:
          - os: ubuntu-latest
            compiler: msvc
          - os: ubuntu-24.04-arm
            compiler: msvc
          - os: windows-11-arm
            compiler: gcc

    env:
      TEST_TIMEOUT: 60
      BUILD_DIR: build/${{ matrix.os }}-${{ matrix.compiler }}-${{ matrix.build_type }}
      APP_EXT: ${{ contains(matrix.os, 'windows' ) && '.exe' || '' }}

    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        shell: bash
        run: |
          if [[ "${{ matrix.os }}" == *ubuntu* ]]; then
            sudo apt-get install -y libx11-dev libgl-dev xvfb
          fi

      - name: Build
        uses: ./.github/actions/Desktop-build
        with:
          os: ${{ matrix.os }}
          compiler: ${{ matrix.compiler }}
          build_type: ${{ matrix.build_type }}
          build_dir: ${{ env.BUILD_DIR }}
          cmake_flags: "-DTESTS=ON -DHARDEN=ON"

      - name: Test
        shell: bash
        run: |
          if [[ "${{ matrix.os }}" == *ubuntu* ]]; then
            xvfb-run --auto-servernum ctest --test-dir "${{ env.BUILD_DIR }}" --output-on-failure --timeout ${{ env.TEST_TIMEOUT }}
          else
            ctest --test-dir "${{ env.BUILD_DIR }}" --output-on-failure --timeout ${{ env.TEST_TIMEOUT }}
          fi

      - name: Upload Test Executable on Failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: unit_tests-${{ matrix.os }}-${{ matrix.compiler }}-${{ matrix.build_type }}
          path: ${{ env.BUILD_DIR }}/tests/unit/unit_tests${{ env.APP_EXT }}
          retention-days: 7

  Build-Web:
    if: "!contains(github.event.head_commit.message, '[skip CI]') && !contains(github.event.head_commit.message, '[skip web]')"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install Dependencies
      shell: bash
      run: sudo apt-get install -y libx11-dev libgl-dev

    - name: Build
      uses: ./.github/actions/Web-build
      with:
        cmake_flags: "-DTESTS=ON -DCMAKE_CXX_FLAGS=-sSINGLE_FILE=1"

    - name: Test
      shell: bash
      run: ctest --test-dir build --output-on-failure

    - name: Upload Test Executable on Failure
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: unit_tests-web
        path: build/tests/uint/unit_tests.js
        retention-days: 7

  Build-android:
    if: "!contains(github.event.head_commit.message, '[skip CI]') && !contains(github.event.head_commit.message, '[skip android]')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build
        uses: ./.github/actions/Android-build
        with:
          abi: "arm64-v8a"
          build_type: "Debug"
          cmake_flags: "-DTESTS=ON -DHARDEN=ON"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: signed-apk
          path: build/signed.apk
          retention-days: 1
