name: CI
on: [push, pull_request, workflow_dispatch]

jobs:
  Build:
    name: "${{ matrix.os }} x ${{ matrix.compiler }} x ${{ matrix.build_type }}"
    if: "!contains(github.event.head_commit.message, '[skip CI]') && !contains(github.event.head_commit.message, '[skip desk]')"
    runs-on: ${{ matrix.os }}
    permissions:
      actions: read
      contents: read
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, windows-11-arm, ubuntu-latest,  ubuntu-24.04-arm]
        compiler: [llvm, gcc, msvc]
        build_type: [Debug, Release]
        exclude:
          - os: ubuntu-latest
            compiler: msvc
          - os: ubuntu-24.04-arm
            compiler: msvc
          - os: windows-11-arm
            compiler: gcc

    env:
      TEST_TIMEOUT: 60
      BUILD_DIR: build/${{ matrix.os }}-${{ matrix.compiler }}-${{ matrix.build_type }}
      APP_EXT: ${{ contains(matrix.os, 'windows' ) && '.exe' || '' }}

    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        shell: bash
        run: |
          if [[ "${{ matrix.os }}" == *ubuntu* ]]; then
            sudo apt-get install -y libx11-dev libgl-dev xvfb
          fi

      - name: Build Project
        uses: ./.github/actions/build
        with:
          os: ${{ matrix.os }}
          compiler: ${{ matrix.compiler }}
          build_type: ${{ matrix.build_type }}
          build_dir: ${{ env.BUILD_DIR }}
          cmake_flags: "-DTESTS=ON -DHARDEN=ON"

      - name: Upload Test Executable
        uses: actions/upload-artifact@v4
        with:
          name: unit_tests-${{ matrix.os }}-${{ matrix.compiler }}-${{ matrix.build_type }}
          path: ${{ env.BUILD_DIR }}/tests/unit/unit_tests${{ env.APP_EXT }}
          retention-days: 1
          overwrite: true

      - name: Test
        shell: bash
        run: |
          if [[ "${{ matrix.os }}" == *ubuntu* ]]; then
            xvfb-run --auto-servernum ctest --test-dir "${{ env.BUILD_DIR }}" --output-on-failure --timeout ${{ env.TEST_TIMEOUT }}
          else
            ctest --test-dir "${{ env.BUILD_DIR }}" --output-on-failure --timeout ${{ env.TEST_TIMEOUT }}
          fi

  Build-Web:
    if: "!contains(github.event.head_commit.message, '[skip CI]') && !contains(github.event.head_commit.message, '[skip web]')"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install Dependencies
      shell: bash
      run: sudo apt-get install -y libx11-dev libgl-dev

    - name: Build
      uses: ./.github/actions/emscripten-build
      with:
        cmake_configure_flags: "-DTESTS=ON"

    - name: Test
      shell: bash
      run: |
        ls -la build/tests/unit || true
        ctest --test-dir build--output-on-failure

    - name: Upload Test Executable
      uses: actions/upload-artifact@v4
      with:
        name: unit_tests-web
        path: |
          build/tests/**/*.js
          build/tests/**/*.html
          build/tests/**/*.wasm
          build/tests/**/*.data
        retention-days: 1
        overwrite: true

  Build-android:
    if: "!contains(github.event.head_commit.message, '[skip CI]') && !contains(github.event.head_commit.message, '[skip android]')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Ninja
        run: sudo apt-get install ninja-build

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle 8.7
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: 8.7

      - name: Configure Environment
        run: |
          # root directory of CMake, not the /bin folder.
          SYS_CMAKE=$(which cmake | xargs dirname | xargs dirname)
          echo "cmake.dir=$SYS_CMAKE" > android/local.properties
          echo "ndk.dir=$ANDROID_NDK_LATEST_HOME" >> android/local.properties

      - name: Build Debug
        working-directory: ./android
        run: gradle assembleDebug -Porg.gradle.jvmargs="-Xmx2g"

      - name: Upload APK - debug
        uses: actions/upload-artifact@v4
        with:
          name: Launcher-Debug-WithSymbols-APK
          path: android/app/build/outputs/apk/debug/*.apk
          retention-days: 1
          overwrite: true