name: CI
on: 
  push:
    branches: [ main ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  actions: read
  contents: read
  security-events: write

env:
  TEST_TIMEOUT: 60

jobs:
# ======================================================================================================================
# Windows (x64)
# ======================================================================================================================
  Windows-latest:
    name: "windows-latest • ${{ matrix.compiler }} • ${{ matrix.build_type }}"
    if: "!contains(github.event.head_commit.message, '[skip CI]') && !contains(github.event.head_commit.message, '[skip windows]')"
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        compiler: [llvm, gcc, msvc]
        build_type: [Debug, Release]

    env:
      BUILD_DIR: build/${{ matrix.compiler }}-${{ matrix.build_type }}

    steps:
      - uses: actions/checkout@v4

      - name: Build
        uses: ./.github/actions/Desktop-build
        with:
          compiler: ${{ matrix.compiler }}
          build_type: ${{ matrix.build_type }}
          build_dir: ${{ env.BUILD_DIR }}
          cmake_flags: |
            -DWITH_TESTS=ON
            -DHARDEN=ON

      - name: Test
        shell: bash
        run: ctest --test-dir "${{ env.BUILD_DIR }}" --output-on-failure --timeout ${{ env.TEST_TIMEOUT }}

      - name: Upload Test Executable on Failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: unit_tests-${{ runner.os }}-${{ matrix.compiler }}-${{ matrix.build_type }}
          path: ${{ env.BUILD_DIR }}/tests/unit/unit_tests.exe
          retention-days: 7

# ======================================================================================================================
# Windows ARM
# ======================================================================================================================
  Windows-arm:
    name: "windows-arm • ${{ matrix.compiler }} • ${{ matrix.build_type }}"
    if: "!contains(github.event.head_commit.message, '[skip CI]') && !contains(github.event.head_commit.message, '[skip windows]')"
    runs-on: windows-11-arm
    strategy:
      fail-fast: false
      matrix:
        compiler: [llvm, msvc]
        build_type: [Debug, Release]

    env:
      BUILD_DIR: build/${{ matrix.compiler }}-${{ matrix.build_type }}

    steps:
      - uses: actions/checkout@v4

      - name: Build
        uses: ./.github/actions/Desktop-build
        with:
          compiler: ${{ matrix.compiler }}
          build_type: ${{ matrix.build_type }}
          build_dir: ${{ env.BUILD_DIR }}
          cmake_flags: |
            -DWITH_TESTS=ON
            -DHARDEN=ON

      - name: Test
        shell: bash
        run: ctest --test-dir "${{ env.BUILD_DIR }}" --output-on-failure --timeout ${{ env.TEST_TIMEOUT }}

      - name: Upload Test Executable on Failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: unit_tests-${{ runner.os }}-${{ matrix.compiler }}-${{ matrix.build_type }}
          path: ${{ env.BUILD_DIR }}/tests/unit/unit_tests.exe
          retention-days: 7

# ======================================================================================================================
# Ubuntu x64
# ======================================================================================================================
  Ubuntu-latest:
    name: "ubuntu-latest • ${{ matrix.compiler }} • ${{ matrix.build_type }}"
    if: "!contains(github.event.head_commit.message, '[skip CI]') && !contains(github.event.head_commit.message, '[skip ubuntu]')"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        compiler: [llvm, gcc]
        build_type: [Debug, Release]

    env:
      BUILD_DIR: build/${{ matrix.compiler }}-${{ matrix.build_type }}

    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        shell: bash
        run: sudo apt-get install -y libx11-dev libgl-dev

      - name: Build
        uses: ./.github/actions/Desktop-build
        with:
          compiler: ${{ matrix.compiler }}
          build_type: ${{ matrix.build_type }}
          build_dir: ${{ env.BUILD_DIR }}
          cmake_flags: |
            -DWITH_TESTS=ON
            -DHARDEN=ON

      - name: Test
        shell: bash
        run: ctest --test-dir "${{ env.BUILD_DIR }}" --output-on-failure --timeout ${{ env.TEST_TIMEOUT }}

      - name: Upload Test Executable on Failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: unit_tests-${{ runner.os }}-${{ matrix.compiler }}-${{ matrix.build_type }}
          path: ${{ env.BUILD_DIR }}/tests/unit/unit_tests
          retention-days: 7

# ======================================================================================================================
# Ubuntu ARM
# ======================================================================================================================
  Ubuntu-arm:
    name: "ubuntu-arm • ${{ matrix.compiler }} • ${{ matrix.build_type }}"
    if: "!contains(github.event.head_commit.message, '[skip CI]') && !contains(github.event.head_commit.message, '[skip ubuntu]')"
    runs-on: ubuntu-24.04-arm
    strategy:
      fail-fast: false
      matrix:
        compiler: [llvm, gcc]
        build_type: [Debug, Release]

    env:
      BUILD_DIR: build/${{ matrix.compiler }}-${{ matrix.build_type }}

    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        shell: bash
        run: sudo apt-get install -y libx11-dev libgl-dev

      - name: Build
        uses: ./.github/actions/Desktop-build
        with:
          compiler: ${{ matrix.compiler }}
          build_type: ${{ matrix.build_type }}
          build_dir: ${{ env.BUILD_DIR }}
          cmake_flags: |
            -DWITH_TESTS=ON
            -DHARDEN=ON

      - name: Test
        shell: bash
        run: ctest --test-dir "${{ env.BUILD_DIR }}" --output-on-failure --timeout ${{ env.TEST_TIMEOUT }}

      - name: Upload Test Executable on Failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: unit_tests-${{ runner.os }}-${{ matrix.compiler }}-${{ matrix.build_type }}
          path: ${{ env.BUILD_DIR }}/tests/unit/unit_tests
          retention-days: 7

# ======================================================================================================================
# Web wasm
# ======================================================================================================================
  Web:
    name: "web • ubuntu-latest • ${{ matrix.build_type }}"
    if: "!contains(github.event.head_commit.message, '[skip CI]') && !contains(github.event.head_commit.message, '[skip web]')"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        build_type: [Debug, Release]

    env:
      BUILD_DIR: build/${{ matrix.build_type }}

    steps:
    - uses: actions/checkout@v4

    - name: Install Dependencies
      shell: bash
      run: sudo apt-get install -y libx11-dev libgl-dev

    - name: Build
      uses: ./.github/actions/Web-build
      with:
        build_type: ${{ matrix.build_type }}
        build_dir: ${{ env.BUILD_DIR }}
        cmake_flags: |
            -DCMAKE_CXX_LINK_FLAGS="-sSINGLE_FILE=1 -sENVIRONMENT=node"
            -DWITH_TESTS=ON
            -DHARDEN=ON

    - name: Test
      shell: bash
      run: ctest --test-dir ${{ env.BUILD_DIR }} --output-on-failure --timeout ${{ env.TEST_TIMEOUT }}

    - name: Upload Test Executable on Failure
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: web-unit_tests-${{ matrix.build_type }}
        path: ${{ env.BUILD_DIR }}/tests/unit/unit_tests.js
        retention-days: 7

# ======================================================================================================================
# Android arm64-v8a
# ======================================================================================================================
  Android:
    name: "android • ubuntu-latest • ${{ matrix.build_type }}"
    if: "!contains(github.event.head_commit.message, '[skip CI]') && !contains(github.event.head_commit.message, '[skip android]')"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        build_type: [Debug, Release]

    env:
      BUILD_DIR: build/${{ matrix.build_type }}

    steps:
      - uses: actions/checkout@v4

      - name: Build
        uses: ./.github/actions/Android-build
        with:
          abi: "arm64-v8a"
          build_type: ${{ matrix.build_type }}
          build_dir: ${{ env.BUILD_DIR }}
          cmake_flags: |
            -DWITH_TESTS=ON
            -DHARDEN=ON

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: signed-${{ matrix.build_type }}-apk
          path: ${{ env.BUILD_DIR }}/signed.apk
          retention-days: 1