name: CI
on: [push, pull_request, workflow_dispatch]

jobs:
  Build:
    name: "${{ matrix.os }} x ${{ matrix.compiler }} x ${{ matrix.build_type }}"
    if: "!contains(github.event.head_commit.message, '[skip CI]') && !contains(github.event.head_commit.message, '[skip desk]')"
    runs-on: ${{ matrix.os }}
    permissions:
      actions: read
      contents: read
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, windows-11-arm, ubuntu-latest,  ubuntu-24.04-arm]
        compiler: [llvm, gcc, msvc]
        build_type: [Debug, Release]
        exclude:
          - os: ubuntu-latest
            compiler: msvc
          - os: ubuntu-24.04-arm
            compiler: msvc
          - os: windows-11-arm
            compiler: gcc

    env:
      TEST_TIMEOUT: 60
      BUILD_DIR: build/${{ matrix.os }}-${{ matrix.compiler }}-${{ matrix.build_type }}
      APP_EXT: ${{ contains(matrix.os, 'windows' ) && '.exe' || '' }}

    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        shell: bash
        run: |
          if [[ "${{ matrix.os }}" == *ubuntu* ]]; then
            sudo apt-get install -y libx11-dev libgl-dev xvfb
          fi

      - name: Build Project
        uses: ./.github/actions/build
        with:
          os: ${{ matrix.os }}
          compiler: ${{ matrix.compiler }}
          build_type: ${{ matrix.build_type }}
          build_dir: ${{ env.BUILD_DIR }}
          cmake_flags: "-DTESTS=ON -DHARDEN=ON"

      - name: Upload Test Executable
        uses: actions/upload-artifact@v4
        with:
          name: unit_tests-${{ matrix.os }}-${{ matrix.compiler }}-${{ matrix.build_type }}
          path: ${{ env.BUILD_DIR }}/tests/unit/unit_tests${{ env.APP_EXT }}
          retention-days: 1
          overwrite: true

      - name: Test
        shell: bash
        run: |
          if [[ "${{ matrix.os }}" == *ubuntu* ]]; then
            xvfb-run --auto-servernum ctest --test-dir "${{ env.BUILD_DIR }}" --output-on-failure --timeout ${{ env.TEST_TIMEOUT }}
          else
            ctest --test-dir "${{ env.BUILD_DIR }}" --output-on-failure --timeout ${{ env.TEST_TIMEOUT }}
          fi

  Build-Web:
    if: "!contains(github.event.head_commit.message, '[skip CI]') && !contains(github.event.head_commit.message, '[skip web]')"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install Dependencies
      shell: bash
      run: sudo apt-get install -y libx11-dev libgl-dev

    - name: Build
      uses: ./.github/actions/emscripten-build
      with:
        cmake_configure_flags: "-DTESTS=ON"

    - name: Test
      shell: bash
      run: ctest --test-dir build --output-on-failure

    - name: Upload Test Executable
      uses: actions/upload-artifact@v4
      with:
        name: unit_tests-web
        path: |
          build/tests/**/*.js
          build/tests/**/*.html
          build/tests/**/*.wasm
          build/tests/**/*.data
        retention-days: 1
        overwrite: true

  Build-android:
    if: "!contains(github.event.head_commit.message, '[skip CI]') && !contains(github.event.head_commit.message, '[skip android]')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure CMake
        shell: bash
        run: |
          cmake -S . -B build -DCMAKE_TLS_VERIFY=0 \
          -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK_LATEST_HOME/build/cmake/android.toolchain.cmake \
          -DCMAKE_SYSTEM_NAME=Android \
          -DANDROID_ABI=arm64-v8a \
          -DANDROID_PLATFORM=android-21 \
          -DCMAKE_BUILD_TYPE=Debug

      - name: Build native
        run: cmake --build build --parallel

      - name: Create debug keystore (if missing)
        run: |
          mkdir -p "$HOME/.android"
          if [ ! -f "$HOME/.android/debug.keystore" ]; then
            keytool -genkeypair -keystore "$HOME/.android/debug.keystore" \
              -storepass android -keypass android -alias androiddebugkey \
              -dname "CN=Android Debug,O=Android,C=US" -storetype JKS \
              -keyalg RSA -keysize 2048 -validity 10000
          fi

      - name: Package and Sign APK
        run: |
          BUILD_TOOLS_ROOT="$ANDROID_HOME/build-tools"
          VERSION=$(ls -1 "$BUILD_TOOLS_ROOT" | sort -V | tail -n 1)
          SDK_TOOLS="$BUILD_TOOLS_ROOT/$VERSION"
          PLATFORM_JAR=$(ls -1v $ANDROID_HOME/platforms/android-*/android.jar | tail -n 1)

          # 1. Link resources and Manifest
          $SDK_TOOLS/aapt2 link -I "$PLATFORM_JAR" --manifest cmake/AndroidManifest.xml -o base.apk

          # 2. Add native libraries
          zip -ur base.apk build/lib/**/*.so

          # 3. Zipalign
          $SDK_TOOLS/zipalign -v 4 base.apk final-aligned.apk

          # 4. Sign the APK
          $SDK_TOOLS/apksigner sign \
            --ks "$HOME/.android/debug.keystore" \
            --ks-pass pass:android \
            --key-pass pass:android \
            --ks-key-alias androiddebugkey \
            --out final-signed.apk final-aligned.apk

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: signed-apk
          path: final-signed.apk
