name: CI
on: [push, pull_request, workflow_dispatch]

jobs:
  # Windows-latest  ######################################################################################################### 
  Windows-latest:
    name: "windows-latest x ${{ matrix.compiler }} x ${{ matrix.build_type }}"
    if: "!contains(github.event.head_commit.message, '[skip CI]') && !contains(github.event.head_commit.message, '[skip windows]')"
    runs-on: windows-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        compiler: [llvm, gcc, msvc]
        build_type: [Debug, Release]

    env:
      TEST_TIMEOUT: 60
      BUILD_DIR: build/windows-latest-${{ matrix.compiler }}-${{ matrix.build_type }}

    steps:
      - uses: actions/checkout@v4

      - name: Build
        uses: ./.github/actions/Desktop-build
        with:
          os: windows-latest
          compiler: ${{ matrix.compiler }}
          build_type: ${{ matrix.build_type }}
          build_dir: ${{ env.BUILD_DIR }}
          cmake_flags: "-DWITH_TESTS=ON -DHARDEN=ON"

      - name: Test
        shell: bash
        run: ctest --test-dir "${{ env.BUILD_DIR }}" --output-on-failure --timeout ${{ env.TEST_TIMEOUT }}

      - name: Upload Test Executable on Failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: unit_tests-windows-latest-${{ matrix.compiler }}-${{ matrix.build_type }}
          path: ${{ env.BUILD_DIR }}/tests/unit/unit_tests.exe
          retention-days: 7

  # Windows-11-arm  ######################################################################################################### 
  Windows-11-arm:
    name: "windows-11-arm x ${{ matrix.compiler }} x ${{ matrix.build_type }}"
    if: "!contains(github.event.head_commit.message, '[skip CI]') && !contains(github.event.head_commit.message, '[skip windows]')"
    runs-on: windows-11-arm
    permissions:
      actions: read
      contents: read
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        compiler: [llvm, msvc]
        build_type: [Debug, Release]

    env:
      TEST_TIMEOUT: 60
      BUILD_DIR: build/windows-11-arm-${{ matrix.compiler }}-${{ matrix.build_type }}

    steps:
      - uses: actions/checkout@v4

      - name: Build
        uses: ./.github/actions/Desktop-build
        with:
          os: windows-11-arm
          compiler: ${{ matrix.compiler }}
          build_type: ${{ matrix.build_type }}
          build_dir: ${{ env.BUILD_DIR }}
          cmake_flags: "-DWITH_TESTS=ON -DHARDEN=ON"

      - name: Test
        shell: bash
        run: ctest --test-dir "${{ env.BUILD_DIR }}" --output-on-failure --timeout ${{ env.TEST_TIMEOUT }}

      - name: Upload Test Executable on Failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: unit_tests-windows-11-arm-${{ matrix.compiler }}-${{ matrix.build_type }}
          path: ${{ env.BUILD_DIR }}/tests/unit/unit_tests.exe
          retention-days: 7

  # Ubuntu-latest  ######################################################################################################### 
  Ubuntu-latest:
    name: "ubuntu-latest x ${{ matrix.compiler }} x ${{ matrix.build_type }}"
    if: "!contains(github.event.head_commit.message, '[skip CI]') && !contains(github.event.head_commit.message, '[skip ubuntu]')"
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        compiler: [llvm, gcc]
        build_type: [Debug, Release]

    env:
      TEST_TIMEOUT: 60
      BUILD_DIR: build/ubuntu-latest-${{ matrix.compiler }}-${{ matrix.build_type }}

    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        shell: bash
        run: sudo apt-get install -y libx11-dev libgl-dev xvfb

      - name: Build
        uses: ./.github/actions/Desktop-build
        with:
          os: ubuntu-latest
          compiler: ${{ matrix.compiler }}
          build_type: ${{ matrix.build_type }}
          build_dir: ${{ env.BUILD_DIR }}
          cmake_flags: "-DWITH_TESTS=ON -DHARDEN=ON"

      - name: Test
        shell: bash
        run: xvfb-run --auto-servernum ctest --test-dir "${{ env.BUILD_DIR }}" --output-on-failure --timeout ${{ env.TEST_TIMEOUT }}

      - name: Upload Test Executable on Failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: unit_tests-ubuntu-latest-${{ matrix.compiler }}-${{ matrix.build_type }}
          path: ${{ env.BUILD_DIR }}/tests/unit/unit_tests
          retention-days: 7

  # Windows-24.04-arm  ######################################################################################################### 
  Ubuntu-24.04-arm:
    name: "ubuntu-24.04-arm x ${{ matrix.compiler }} x ${{ matrix.build_type }}"
    if: "!contains(github.event.head_commit.message, '[skip CI]') && !contains(github.event.head_commit.message, '[skip ubuntu]')"
    runs-on: ubuntu-24.04-arm
    permissions:
      actions: read
      contents: read
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        compiler: [llvm, gcc]
        build_type: [Debug, Release]

    env:
      TEST_TIMEOUT: 60
      BUILD_DIR: build/ubuntu-24.04-arm-${{ matrix.compiler }}-${{ matrix.build_type }}

    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        shell: bash
        run: sudo apt-get install -y libx11-dev libgl-dev xvfb

      - name: Build
        uses: ./.github/actions/Desktop-build
        with:
          os: ubuntu-24.04-arm
          compiler: ${{ matrix.compiler }}
          build_type: ${{ matrix.build_type }}
          build_dir: ${{ env.BUILD_DIR }}
          cmake_flags: "-DWITH_TESTS=ON -DHARDEN=ON"

      - name: Test
        shell: bash
        run: xvfb-run --auto-servernum ctest --test-dir "${{ env.BUILD_DIR }}" --output-on-failure --timeout ${{ env.TEST_TIMEOUT }}

      - name: Upload Test Executable on Failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: unit_tests-ubuntu-24.04-arm-${{ matrix.compiler }}-${{ matrix.build_type }}
          path: ${{ env.BUILD_DIR }}/tests/unit/unit_tests${{ env.APP_EXT }}
          retention-days: 7

  # Web ######################################################################################################### 
  Web:
    name: "web x ubuntu-latest x ${{ matrix.build_type }}"
    if: "!contains(github.event.head_commit.message, '[skip CI]') && !contains(github.event.head_commit.message, '[skip web]')"
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        build_type: [Debug, Release]

    steps:
    - uses: actions/checkout@v4

    - name: Install Dependencies
      shell: bash
      run: sudo apt-get install -y libx11-dev libgl-dev

    - name: Build
      uses: ./.github/actions/Web-build
      with:
        build_type: ${{ matrix.build_type }}
        build_dir: build-${{ matrix.build_type }}
        cmake_flags: "-DWITH_TESTS=ON -DCMAKE_CXX_LINK_FLAGS=\"-sSINGLE_FILE=1 -sENVIRONMENT=node\""

    - name: Test
      shell: bash
      run: ctest --test-dir build-${{ matrix.build_type }} --output-on-failure

    - name: Upload Test Executable on Failure
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: web-unit_tests-build-${{ matrix.build_type }}
        path: build-${{ matrix.build_type }}/tests/uint/unit_tests.js
        retention-days: 7

  # Android  ######################################################################################################### 
  Android:
    name: "android x ubuntu-latest x ${{ matrix.build_type }}"
    if: "!contains(github.event.head_commit.message, '[skip CI]') && !contains(github.event.head_commit.message, '[skip android]')"
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        build_type: [Debug, Release]

    steps:
      - uses: actions/checkout@v4

      - name: Build
        uses: ./.github/actions/Android-build
        with:
          abi: "arm64-v8a"
          build_type: ${{ matrix.build_type }}
          build_dir: build-${{ matrix.build_type }}
          cmake_flags: "-DWITH_TESTS=ON -DHARDEN=ON"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: signed-${{ matrix.build_type }}-apk
          path: build-${{ matrix.build_type }}/signed.apk
          retention-days: 1
