name: Daily Code Coverage
on:  
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  Build:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    env:
      TEST_TIMEOUT: 60

    steps:
      - uses: actions/checkout@v3

      - name: Setup Cpp
        uses: aminya/setup-cpp@v1.8.0
        with:
          compiler: llvm-21
          cmake: true
          ninja: true

      - name: Install Dependencies
        shell: bash
        run: |
          sudo apt-get install -y libx11-dev libgl-dev
          pip install gcovr

      - name: Configure CMake
        shell: bash
        run: |
          rm -rf build
          cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Debug -DWITH_TESTS=ON -DCOVERAGE=ON -DLINK_TIME_OPT=OFF

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: cpp

      - name: Build
        shell: bash
        run: cmake --build build --parallel

      - name: Code Coverage
        shell: bash
        run: cmake --build build --target coverage 

      - name: Upload to Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true 
          token: ${{ secrets.CODECOV_TOKEN }}
          files: build/coverage
          flags: unit_tests
          verbose: true

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
        continue-on-error: true
        with:
          category: "/language:${{ matrix.language }}"