name: Deploy Docs
on:
  workflow_dispatch:

jobs:
  Docs:
    name: Docs
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        shell: bash
        run: sudo apt-get install -y libx11-dev libgl-dev doxygen

      - name: Build Project
        uses: ./.github/actions/Desktop-build
        with:
          compiler: llvm

      - name: Generate Docs
        shell: bash
        run: |
          mkdir docs
          cmake -D OUT_DIR=docs -D DOXY_IN=Doxyfile.in -P cmake/GenDocs.cmake

      - name: Prepare Site Structure
        run: |
          mkdir -p site
          cp -R docs/html site/docs

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload to Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: site

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4