name: Fuzzing
on:
  workflow_dispatch:

jobs:
  fuzzing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Dependencies
        shell: bash
        run: sudo apt-get install -y libx11-dev libgl-dev

      - name: Build Project
        uses: ./.github/actions/Desktop-build
        with:
          compiler: llvm
          cmake_flags: -DFUZZ_TESTS=ON -DFUZZTEST_FUZZING_MODE=ON -DCMAKE_CXX_FLAGS="-fsanitize=address"

      - name: Fuzz
        run: ./build/tests/fuzz/fuzz_tests