name: Fuzzing
on:
  workflow_dispatch:

jobs:
  fuzzing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build Project
        uses: ./.github/actions/Desktop-build
        with:
          compiler: llvm
          cmake_flags: '-DCMAKE_CXX_FLAGS="-fsanitize=address" -DFUZZ_TEST=ON -DLINK_TIME_OPT=OFF'

      - name: Fuzz
        run: .\build\tests\fuzz\fuzz_tests -runs=1000 -max_total_time=120