name: GCC 16

on:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false

    runs-on: ubuntu-latest

    container:
      image: ghcr.io/mattkretz/cplusplus-ci/gcc16

    steps:
      - uses: actions/checkout@v4

      - name: Configure CMake
        shell: bash
        run: cmake -S . -B build -G Ninja -DCMAKE_TLS_VERIFY=0 -DWITH_TESTS=ON

      - name: Build
        shell: bash
        run: cmake --build build --parallel

      - name: Test
        shell: bash
        run: ctest --test-dir build --output-on-failure

      - name: Upload Test Executable on Failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: unit_tests
          path: build/tests/unit/unit_tests
          retention-days: 7