name: Include What You Use
on:
  workflow_dispatch: 
 
jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate compilation database
        run: cmake -S . -B build

      - name: Run Include What You Use
        uses: EmilGedda/include-what-you-use-action@main
        with:
          compilation-database-path: 'build'
          output-format: 'iwyu'
          no-error: 'false'