name: Include What You Use
on:
  workflow_dispatch: 

jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install IWYU
        run: sudo apt-get install -y iwyu

      - name: Generate compilation database
        run: |
          cmake -S . -B build -DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_INCLUDE_WHAT_YOU_USE="include-what-you-use;-Xiwyu;--no_fwd_decls"
          cmake --build build
