name: Include What You Use
on:
  workflow_dispatch: 
 
jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - name: Run Include What You Use
        uses: EmilGedda/include-what-you-use-action@v1
        with:
          compilation-database-path: '.'
          output-format: 'iwyu'
          no-error: 'false'