name: Code Analysis

env:
  build: '${{ github.workspace }}/build'
  config: 'Debug'
  GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}


on: [workflow_dispatch]


permissions:
  contents: read
  security-events: write

jobs:
  analyze:
    name: Analyze
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure CMake
        run: cmake -S . -B ${{ env.build }}

      - name: Build CMake
        run: cmake --build ${{ env.build }} --config ${{ env.config }}

      - name: Run MSVC Code Analysis
        uses: microsoft/msvc-code-analysis-action@v0.1.1
        id: run-analysis
        with:
          cmakeBuildDirectory: ${{ env.build }}
          buildConfiguration: ${{ env.config }}
          ruleset: NativeRecommendedRules.ruleset
          ignoredPaths: ${{ env.build }}/_deps

      - name: Upload SARIF to GitHub
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ${{ steps.run-analysis.outputs.sarif }}

      - name: Upload SARIF as an Artifact
        uses: actions/upload-artifact@v4
        with:
          name: sarif-file
          path: ${{ steps.run-analysis.outputs.sarif }}