name: Sanitizer (Linux)
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  sanitizers:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm]
        compiler: [gcc, llvm]
        sanitizer: [address, undefined] # [address, undefined]

    env:
      BUILD_DIR: build/${{ matrix.os }}-${{ matrix.compiler }}-${{ matrix.sanitizer}}

    steps:
      - uses: actions/checkout@v3

      - name: Install
        shell: bash
        run: sudo apt-get install -y libx11-dev libgl-dev
  
      - name: Build Project
        uses: ./.github/actions/Desktop-build
        with:
          compiler: ${{ matrix.compiler }}
          build_dir: ${{ env.BUILD_DIR }}
          cmake_flags: '-DCMAKE_CXX_FLAGS="-fsanitize=${{ matrix.sanitizer }}" -DWITH_TESTS=ON -DHARDEN=ON'

      - name: Test
        shell: bash
        run: ctest --test-dir "${{ env.BUILD_DIR }}" --output-on-failure