name: Sanitizer (Linux)
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  sanitizers:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm]
        compiler: [gcc, llvm]
        sanitizers: [ASAN, USAN, TSAN] # [address, undefined, thread]

    env:
      BUILD_DIR: build/${{ matrix.os }}-${{ matrix.compiler }}-${{ matrix.sanitizers}}

    steps:
      - uses: actions/checkout@v3


      - name: Install
        shell: bash
        run: |
          if [[ "${{ matrix.os }}" == *ubuntu* ]]; then
            sudo apt-get install -y libx11-dev libgl-dev xvfb
          fi
  
      - name: Build Project
        uses: ./.github/actions/Desktop-build
        with:
          os: ${{ matrix.os }}
          compiler: ${{ matrix.compiler }}
          build_dir: ${{ env.BUILD_DIR }}
          cmake_flags: "-DWITH_TESTS=ON -D${{ matrix.sanitizers }}=ON -DHARDEN=ON"

      - name: Test
        shell: bash
        run: |
          if [[ "${{ matrix.os }}" == *ubuntu* ]]; then
            xvfb-run --auto-servernum ctest --test-dir "${{ env.BUILD_DIR }}" --output-on-failure 
          else
            ctest --test-dir "${{ env.BUILD_DIR }}" --output-on-failure
          fi
