name: Static Analyzer

on: [workflow_dispatch]

jobs:
  cppcheck-analyze:
    name: Cppcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -y libgl1-mesa-dev  mesa-common-dev libxi-dev
          sudo apt-get install -y xvfb libx11-dev xauth

      - name: Configure CMake
        run: cmake -S . -B build

      - uses: whisperity/codechecker-analysis-action@v1
        id: codechecker
        with:
          logfile: ${{ github.workspace }}/build/compile_commands.json

      - uses: actions/upload-artifact@v4
        with:
          name: CodeChecker Bug Reports
          path: ${{ steps.codechecker.outputs.result-html-dir }}