name: Static Analyzer Cppcheck

on: [workflow_dispatch]

jobs:
  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Dependencies
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -y libgl1-mesa-dev  mesa-common-dev libxi-dev
          sudo apt-get install -y xvfb libx11-dev xauth
          sudo apt-get install -y libtbb-dev

      - name: Configure CMake
        run: |
          mkdir -pv build
          cd build
          cmake .. -DCMAKE_BUILD_TYPE=Debug -DCMAKE_EXPORT_COMPILE_COMMANDS=ON -DTESTS=ON -DHARDEN=ON

      - uses: whisperity/codechecker-analysis-action@v1
        id: codechecker
        with:
          logfile: ${{ github.workspace }}/build/compile_commands.json

      - uses: actions/upload-artifact@v4
        with:
          name: CodeChecker Bug Reports
          path: ${{ steps.codechecker.outputs.result-html-dir }}