name: Static Analyzer

on: [workflow_dispatch]

jobs:
  cppcheck-analyze:
    name: Cppcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -y libgl1-mesa-dev  mesa-common-dev libxi-dev
          sudo apt-get install -y xvfb libx11-dev xauth

      - name: Configure CMake
        run: cmake -S . -B build

      - uses: whisperity/codechecker-analysis-action@v1
        id: codechecker
        with:
          logfile: ${{ github.workspace }}/build/compile_commands.json

      - uses: actions/upload-artifact@v4
        with:
          name: CodeChecker Bug Reports
          path: ${{ steps.codechecker.outputs.result-html-dir }}

  clang-tidy-analyze:
    name: Clang-Tidy
    runs-on: ubuntu-latest
    permissions:
      security-events: write

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgl1-mesa-dev  mesa-common-dev libxi-dev
          sudo apt-get install -y xvfb libx11-dev xauth
          sudo apt-get install -y clang-tidy python3-pip
          pip install clang-tidy-sarif

      - name: Configure CMake
        run: cmake -S . -B build -DCMAKE_CXX_CLANG_TIDY="clang-tidy"

      - name: Build and Capture Output
        run: |
          cmake --build build 2>&1 | tee clang-tidy-output.txt

      - name: Convert to SARIF
        run: |
          cat clang-tidy-output.txt | clang-tidy-sarif > results.sarif

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
          category: clang-tidy