name: Deploy Web Version
on:
  workflow_dispatch:

jobs:
  deploy:
      runs-on: ubuntu-latest
      permissions:
        pages: write
        id-token: write

      environment:
        name: github-pages
        url: ${{ steps.deployment.outputs.page_url }}

      steps:
        - uses: actions/checkout@v3

        - name: Build
          uses: ./.github/actions/emscripten-build
          with:
            cmake_configure_flags: ""
            system_dependencies: "libgl1-mesa-dev mesa-common-dev libxi-dev xvfb libx11-dev"

        - name: Prepare Artifact
          run: |
            mkdir -p site
            find .
            cp build-web/index.html site/index.html
            # Copy only essential files (js, so, wasm, data)
            find build-web/ -type f \( \
              -name "*.js" \
              -o -name "*.so" \
              -o -name "*.wasm" \
              -o -name "*.data" \
            \) -exec cp {} site/ \;

        - name: Setup Pages
          uses: actions/configure-pages@v5

        - name: Upload to Pages
          uses: actions/upload-pages-artifact@v3
          with:
            path: site

        - name: Deploy to GitHub Pages
          id: deployment
          uses: actions/deploy-pages@v4